*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Comfortaa', cursive;

}

 .navbar{
     display: flex;
     align-items: center;
     padding: 50px;
     margin-top: auto;
     color: #F7786B;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
    margin-top: 10px;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;

}
a{
    text-decoration: none;
    color: #ffffff;
}

a:hover{
  text-decoration: underline;
  color: #000;
  transition: background 0.8s;
}
/* .active,nav ul li:hover
{
	background: #fffaf0;
  border-radius: 3px;
} */
p{
    color: #ffffff;
    font-size: normal;
}
.container{
    max-width: 1300px;
    margin: auto;
    padding-right: 10px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #fff23b;
    color:#000;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.8s;

}
.btn:hover{
  display: inline-block;
    background: #ff0c0c;
    color:rgb(216, 169, 169);
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.8s;
}

 {box-sizing: border-box}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}

.header{
    background: #f7786b;
    padding-bottom: 150px;
}
.header .row{
    margin-top: 90px;
}
.small-container {
	max-width: 1080px;
	margin: auto;
	padding-left: 25px;
  padding-right: 25px;
  padding-top: 50px;
}

.col-4 {
	flex-basis: 25%;
  padding: 10px;
	min-width: 200px;
	margin-bottom: 50px;
	transition: transform 0.5s;
}

.col-4 img {
  width: 100%;
  height: 200px;
}
.title {
	text-align: center;
	color: #555;
	margin: 0 auto 80px;
	position: relative;
	line-break: 60px;
}
.title::after {
	content: "";
	background: #ff523b;
	width: 120px;
	height: 5px;
	border-radius: 5px;
	position: absolute;
	margin-bottom: -4px;
	bottom: 0;
	left: 50%;
	transform: translate(-50%);
}

h4 {
	color: #d41d1d;
  font-weight: normal;
  text-align: center;
  font-size: large;
}
.col-4 p {
	font-size: 14px;
}
.rating .fa {
	color: #ff523b;
}
.col-4:hover {
	transform: translateY(-10px);
}

/* --------offer---------------- */

.offer {
	margin-top: 20px;
	padding: 10px 0;
}
.col-2 .offer-img {
  padding: 30px;
  width: 500px;
}
small {
	color: #8400ff;
}
/*---------------about_us-----------------*/
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #474e5d;
  color: white;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.title {
  color: rgb(160, 127, 127);
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}

@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}
/*---------------contact---------------*/

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #4c9baf;
  color: #000;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
  background-color: rgba(197, 14, 8, 0.952);
}

/* Add a background color and some padding around the form */
.container {
  border-radius: 5px;
  background-color: #F7786B;
  padding: 20px;
}